.idea
*iml
*~
*.log

target/
lib_managed/
src_managed/
project/boot/

io/target/
io/lib_managed/
io/src_managed/
io/project/boot/

data/target/
data/lib_managed/
data/src_managed/
data/project/boot/

ui/target/
ui/lib_managed/
ui/src_managed/
ui/project/boot/
